<html>
	<head></head>
	<body>
		<h1>bienvenido al juego de tennis</h1>

		<form action="/juego">
			
		<input type="text" name="player1">
		<input type="text" name="player2">
		<input type="submit" value="jugar">
		</form>
	</body>

</html>